*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* per occupare tutta l’altezza viewport */
}

:root {
  --bg-primary-color: #090a21;
  --bg-primary-color-selected: #290e4d;
}

.navbar {
  background-color: var(--bg-primary-color-selected);
  padding: 30px 20px;
  /* altezza fissa o minima */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-search{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.nav-search input[type="text"]{
    padding: 8px 200px;
    border:1px solid white;
    background: none;
    border-radius: 100px;
    text-align: center;
    color: white;
}

.container {
  background-color: var(--bg-primary-color);
  flex-grow: 1;
}


.footer {
  background: linear-gradient(to top, var(--bg-primary-color-selected), var(--bg-primary-color));
  padding: 20px;
  height: 80px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ffffff33;
}

.foot-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}


.news-icon-btn {
  width: 48px;
  height: 48px;
  background-color: #1f1f3d;
  border: 2px solid #ffffff20;
  border-radius: 50%;
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-icon-btn:hover {
  background-color: #2a2a50;
  box-shadow: 0 0 10px #ffffff30;
  transform: scale(1.05);
}



/*css gestione account*/

